[Service]
Type=oneshot
ExecStartPre=/usr/bin/systemctl stop dhcpcd
ExecStart=/usr/bin/timeout 60 /usr/share/oem/usr/bin/net.sh

[Install]
WantedBy=multi-user.target
