[Unit]
Description=Google Compute Engine User Accounts Manager Daemon
After=network.target
Before=sshd.service
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/share/oem/python/bin/python2.7 /usr/share/oem/google-compute-daemon/manage_accounts.py

[Install]
WantedBy=multi-user.target
