[Unit]
Description=Google Compute Engine Address Manager Daemon
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/share/oem/python/bin/python2.7 /usr/share/oem/google-compute-daemon/manage_addresses.py

[Install]
WantedBy=multi-user.target
