[Unit]
Description=Google Compute Engine user startup scripts
After=network.target
After=google-startup-scripts-onboot.service
Requires=google-startup-scripts-onboot.service
Requires=network.target

[Service]
Environment=GOOGLE_SCRIPTS_PREFIX=/usr/share/oem/google-startup-scripts
ExecStart=/usr/share/oem/google-startup-scripts/run-startup-scripts
Type=idle

[Install]
WantedBy=multi-user.target
