[Unit]
Description=Google Compute Engine Startup Scripts
After=network.target
After=local-fs.target
Before=sshd.service
Requires=network.target
Requires=local-fs.target

[Service]
Type=oneshot
Environment=GOOGLE_SCRIPTS_PREFIX=/usr/share/oem/google-startup-scripts
ExecStart=/usr/share/oem/google-startup-scripts/onboot

[Install]
WantedBy=multi-user.target
