[Unit]
Description=GCE Linux Agent
After=local-fs.target network-online.target

[Service]
Type=notify
Restart=always
RestartSec=5

# There is a custom main process that kills all of the contained services.
KillMode=process
KillSignal=SIGTERM

[Service]
ExecStartPre=/usr/bin/mkdir --parents /var/lib/oem-gce
ExecStartPre=-/usr/bin/rkt rm --uuid-file=/var/lib/oem-gce/coreos-oem-gce.uuid

ExecStart=/usr/bin/rkt run \
    --inherit-env=true \
    --insecure-options=image \
    --net=host \
    --stage1-path=/usr/lib/rkt/stage1-images/stage1-fly.aci \
    --volume=etc,kind=host,source=/etc,readOnly=false \
    --volume=home,kind=host,source=/home,readOnly=false \
    --volume=runsystemd,kind=host,source=/run/systemd,readOnly=false \
    --uuid-file-save=/var/lib/oem-gce/coreos-oem-gce.uuid \
    /usr/share/oem/coreos-oem-gce.aci

ExecStop=-/usr/bin/rkt stop --uuid-file=/var/lib/oem-gce/coreos-oem-gce.uuid

[Install]
WantedBy=multi-user.target
