[Unit]
Description=GCE Linux Agent
After=local-fs.target network-online.target

[Service]
Type=notify
Restart=always
RestartSec=5

# There is a custom main process that kills all of the contained services.
KillMode=process
KillSignal=SIGTERM

ExecStart=/usr/bin/rkt run \
    --inherit-env=true \
    --insecure-options=image \
    --net=host \
    --stage1-path=/usr/lib/rkt/stage1-images/stage1-fly.aci \
    --volume=etc,kind=host,source=/etc,readOnly=false \
    --volume=home,kind=host,source=/home,readOnly=false \
    --volume=runsystemd,kind=host,source=/run/systemd,readOnly=false \
    /usr/share/oem/coreos-oem-gce.aci

ExecStopPost=/usr/bin/rkt gc --mark-only

[Install]
WantedBy=multi-user.target
