[Service]
ExecStartPre=/usr/lib/etcd/host/doozerd/configure.sh
ExecStart=/usr/lib/etcd/host/riak/configure.sh
Before=etcd.service

[Install]
WantedBy=multi-user.target

