[Unit]
Description=CoreOS Metadata Agent

[Service]
Type=oneshot
EnvironmentFile=-/usr/share/oem/oem-release
ExecStart=/usr/bin/coreos-metadata --provider=${OEM_ID} --output=/run/metadata/coreos

[Install]
Required-By=metadata.target
