[Unit]
Description=CoreOS Metadata Agent (SSH Keys)
After=network.target

[Service]
Type=oneshot
Environment=COREOS_METADATA_OPT_PROVIDER=--cmdline
ExecStart=/usr/bin/coreos-metadata ${COREOS_METADATA_OPT_PROVIDER} --ssh-keys=%i

[Install]
DefaultInstance=core
RequiredBy=multi-user.target
