[Unit]
Description=CoreOS Metadata Agent

[Service]
Type=oneshot
ExecStart=/usr/bin/coreos-metadata --cmdline --output=/run/metadata/coreos

[Install]
RequiredBy=metadata.target
