[Unit]
Description=TPM remote access daemon
Requires=tcsd.service

[Service]
ExecStart=/bin/tpmd 23179
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target
