[Unit]
Description=Update Engine
ConditionVirtualization=!container

[Service]
Type=dbus
BusName=org.chromium.UpdateEngine
ExecStart=/usr/sbin/update_engine -foreground -logtostderr -no_connection_manager
BlockIOWeight=100

[Install]
WantedBy=multi-user.target
