# Runs CRDA for kernel wireless regulatory events.
# For more information see:
# http://wireless.kernel.org/en/developers/Regulatory/CRDA

KERNEL=="regulatory*", ACTION=="add|change", SUBSYSTEM=="platform", RUN+="/sbin/crda"
