[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Environment=KUBELET_OPTS=

ExecStart=/usr/bin/kubelet \
 --address=127.0.0.1 \
 --api-servers=http://127.0.0.1:8080 \
 --allow-privileged=false \
 --config=/etc/kubernetes/manifests \
 --v=2 \
 --cadvisor-port=0 \
 ${KUBELET_OPTS}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
