[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
Environment=ADDRESS=127.0.0.1
Environment=API_SERVERS=http://127.0.0.1:8080
Environment=ALLOW_PRIVILEGED=false
Environment=CONFIG=/etc/kubernetes/manifests
Environment=LOGGING=2

ExecStart=/usr/bin/kubelet \
	--address=${ADDRESS} \
	--api-servers=${API_SERVERS} \
	--allow-privileged=${ALLOW_PRIVILEGED} \
	--config=${CONFIG} \
	--v=${LOGGING}

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
