[Unit]
Description=Update Engine Stub Timer
ConditionVirtualization=!container
ConditionPathExists=/usr/.noupdate

[Timer]
OnBootSec=7minutes
OnActiveSec=41minutes
Unit=update-engine-stub.service

[Install]
WantedBy=multi-user.target
