[Unit]
Description=Update Engine Reboot Manager
ConditionVirtualization=!container
ConditionPathExists=!/usr/.noupdate
PartOf=update-engine.service

[Service]
ExecStart=/usr/sbin/update_engine_reboot_manager
Restart=always
