[Unit]
PartOf=update-engine.service
Description=Update Engine Reboot Manager

[Service]
ExecStart=/usr/sbin/update_engine_reboot_manager
Restart=always
