[Unit]
Description=etcd{{SLOT}} (System Application Container)
Conflicts=etcd{{SLOT}}.service

[Service]
Type=notify
Environment=ETCD_NAME=%m
Environment=ETCD_IMG_USER=etcd
Environment="SOURCE_FILES={{SOURCE_FILES}}"
ExecStart=/usr/bin/etcd{{SLOT}}-wrapper
Restart=always
RestartSec=10s
LimitNOFILE=40000
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
