[Unit]
Description=Network fabric for containers
Documentation=https://github.com/coreos/flannel
Wants=etcd.service
Requires=early-docker.service
After=etcd.service early-docker.service
Before=early-docker.target

[Service]
Type=notify
Restart=always
RestartSec=5
Environment="TMPDIR=/var/tmp/"
Environment="DOCKER_HOST=unix:///var/run/early-docker.sock"
Environment="FLANNEL_VER={{flannel_ver}}"
LimitNOFILE=1048576
LimitNPROC=1048576
ExecStartPre=/usr/bin/mkdir -p /run/flannel
ExecStartPre=/usr/bin/touch /run/flannel/options.env

ExecStart=/usr/libexec/sdnotify-proxy /run/flannel/sd.sock \
  /usr/bin/docker run --net=host --privileged=true --rm \
  -v /run/flannel:/run/flannel -e NOTIFY_SOCKET=/run/flannel/sd.sock \
  --env-file=/run/flannel/options.env \
  quay.io/coreos/flannel:${FLANNEL_VER} /opt/bin/flanneld --ip-masq=true

# Update docker options
ExecStartPost=/bin/bash -c '    \
	touch /run/docker_opts.env;     \
	source /run/docker_opts.env;    \
	source /run/flannel/subnet.env; \
	DOCKER_OPTS+="--ip-masq=false " \
	DOCKER_OPTS+=$(test -n "$FLANNEL_SUBNET" && echo "--bip=$FLANNEL_SUBNET "); \
	DOCKER_OPTS+=$(test -n "$FLANNEL_MTU" && echo "--mtu=$FLANNEL_MTU ");       \
	echo "DOCKER_OPTS=\\"$DOCKER_OPTS\\"" >/run/docker_opts.env'
