[Unit]
# Load OEM and coreos-install cloud-configs by default
Requires=coreos-cloudinit@usr-share-oem-cloud\x2dconfig.yml.service
After=coreos-cloudinit@usr-share-oem-cloud\x2dconfig.yml.service
Requires=coreos-cloudinit@var-lib-coreos\x2dinstall-user_data.service
After=coreos-cloudinit@var-lib-coreos\x2dinstall-user_data.service

[Install]
WantedBy=multi-user.target
