[Unit]
Description=Ignition
DefaultDependencies=false
Before=initrd-parse-etc.service

Requires=initrd-root-fs.target
After=initrd-root-fs.target

Requires=mnt-oem.mount
After=mnt-oem.mount

[Service]
Type=oneshot
TimeoutStartSec=30s
Environment=OEM_ID=pxe
Environment=FETCH_TIMEOUT=1m
EnvironmentFile=-/mnt/oem/oem-release
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=files --fetchtimeout=${FETCH_TIMEOUT}
