[Unit]
Description=Ignition (disks)
DefaultDependencies=false

Requires=local-fs-pre.target
Before=local-fs-pre.target

Requires=mnt-oem.mount
After=mnt-oem.mount

# setup networking
Wants=initrd-systemd-networkd.service
After=initrd-systemd-networkd.service

# generate resolv.conf
Wants=initrd-systemd-resolved.service
After=initrd-systemd-resolved.service

# prevent racing with sgdisk and its subsequent udev activity
After=disk-uuid.service

[Service]
Type=oneshot
Environment=OEM_ID=pxe
EnvironmentFile=-/mnt/oem/oem-release
ExecStart=/usr/bin/ignition --root=/sysroot --oem=${OEM_ID} --stage=disks
