[Unit]
DefaultDependencies=false
Conflicts=initrd-switch-root.target
Before=initrd-switch-root.target

OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

Requires=ignition-disks.service
After=ignition-disks.service

Requires=ignition-files.service
After=ignition-files.service

# setup networking
Requires=initrd-systemd-networkd.service
After=initrd-systemd-networkd.service

# generate resolv.conf
Requires=initrd-systemd-resolved.service
After=initrd-systemd-resolved.service
