[Unit]
Description=Fleet API Socket
PartOf=fleet.service

[Socket]
ListenStream=/var/run/fleet.sock
SocketMode=0660
SocketUser=fleet
SocketGroup=fleet
