[Unit]
Description=etcd
# this will setup cloudinit and user envs
Wants=coreos-cloudinit-oem.service
After=coreos-cloudinit-oem.service

[Service]
User=etcd
PermissionsStartOnly=true
Environment=ETCD_DATA_DIR=/var/lib/etcd ETCD_NAME=default
ExecStart=/usr/bin/etcd 

[Install]
WantedBy=multi-user.target
