#!/sbin/runscript
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/tlsdate/files/tlsdated.rc,v 1.1 2012/12/11 01:49:23 vapier Exp $

description="start a daemon to continuously set time via a helper"

command="tlsdated"
command_args="${TLSDATED_OPTS} -- ${TLSDATED_CMD}"
command_background="true"
pidfile="/var/run/${SVCNAME}.pid"

depend() {
	use net
}

start_pre() {
	checkpath -d -m 0700 "${TLSDATED_CACHE_DIR}"
}
