[Unit]
Description=fleet

Wants=etcd.service
After=etcd.service

Wants=fleet.socket
After=fleet.socket

[Service]
ExecStart=/usr/bin/fleet
Restart=always
RestartSec=10s
