[Unit]
Description=fleet
Wants=etcd.service
Wants=user-config.target
After=user-config.target

[Service]
ExecStart=/usr/bin/fleet

[Install]
WantedBy=multi-user.target
