[Unit]
Description=Oracle OCI Firewall Rules

Before=network.target

After=iptables-restore.service
# Avoid races in case both are queued
Before=iptables-save.service

[Service]
Type=oneshot
# Load oracle-oci-link-local chain, overwriting any existing contents.
# Invoke rules from mangle/POSTROUTING because fewer firewall tools are
# likely to change it.
ExecStart=/usr/sbin/iptables-restore --noflush /usr/share/oem/iptables-rules
# Insert jump to link-local chain at beginning of mangle/POSTROUTING, only
# if the existing ruleset doesn't have it.
ExecStart=/bin/sh -c "/usr/sbin/iptables -t mangle -C POSTROUTING -d 169.254.0.0/16 -j oracle-oci-link-local 2>/dev/null || iptables -t mangle -I POSTROUTING 1 -d 169.254.0.0/16 -j oracle-oci-link-local"

[Install]
WantedBy=basic.target
