[Unit]
Description=Configure Oracle OCI Root Disk
ConditionPathExists=!/etc/iscsi/nodes/iqn.2015-02.oracle.boot:uefi

Before=iscsid.service

[Service]
Type=oneshot
# This starts its own iscsid until the unit finishes and systemd kills it
# again. That's not ideal, but sequencing this unit after iscsid.service
# has been observed to result in parameters not propagating to the kernel
# iSCSI session (presumably due to a race with session recovery).
ExecStart=/usr/sbin/iscsiadm -m node -o new -T iqn.2015-02.oracle.boot:uefi -p 169.254.0.2:3260,1
# Never automatically log out of the root disk
ExecStart=/usr/sbin/iscsiadm -m node -T iqn.2015-02.oracle.boot:uefi -o update -n node.startup -v onboot
# Root-on-iSCSI settings from open-iscsi README
ExecStart=/usr/sbin/iscsiadm -m node -T iqn.2015-02.oracle.boot:uefi -o update -n node.conn[0].timeo.noop_out_interval -v 0
ExecStart=/usr/sbin/iscsiadm -m node -T iqn.2015-02.oracle.boot:uefi -o update -n node.conn[0].timeo.noop_out_timeout -v 0
ExecStart=/usr/sbin/iscsiadm -m node -T iqn.2015-02.oracle.boot:uefi -o update -n node.session.timeo.replacement_timeout -v 86400

[Install]
RequiredBy=iscsid.service
